*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	overflow: hidden;
	display: grid;
	grid-template-areas: "header" "content" "footer";
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

body {
	font-size: 15px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/* ======== Хедер ==========*/

.header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: space-evenly;
	height: 170px;
	background-color: #222222;
}

.logo-nav{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
	display: block;
	image-orientation: center;
	margin-top: 30px;
	margin-right: 30px;
}

.link{
	text-decoration: none;
	color: #dadfdb;
	font-size: 18px;
	margin: 0 30px 0 60px;
	transition: 1.2s;
    transition: border 0.5s;
    border-bottom: 3px solid #222222;
}

.link:hover {
	border-color: #b31beb;
	max-width: 83%;
	margin-bottom: 20px;
}

.login-reg{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: 0 30px 0 60px;
}

.login {
    text-decoration: none;
    color: #dadfdb;
    padding-left: 71.5px;
	padding-right: 71.5px;
	padding-top: 15px;
	padding-bottom: 15px;
    border: 3px solid #53e700;
    transition: padding 0.3s;
}

.login:hover {
    padding-left: 65.5px;
	padding-right: 65.5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.reg {
    text-decoration: none;
    color: #dadfdb;
    padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
    border: 3px solid #b31beb;
    transition: padding 0.3s;
}

.reg:hover {
    padding-left: 34px;
	padding-right: 34px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ======== Контент ==========*/

content{
	width: 100%;
	padding-top: 40px;
	background-color: #f1f1f1;
	height: 100vh;
	background: url(../img/delivery.png) center no-repeat;
	background-size:cover;
    transition: 1.2s;
}

#head-main{
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
    margin-bottom: 120px;
}

.block {
    background-color: #fff;
    height: 400px;
    width: 320px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 1px 30px -15px #000;
}

.text {
	color: #636363;
	font-size: 27px;
	margin-bottom: 45px;
    text-align: center;
    align-content: center;
    display: flex;
}

.number {
    text-align: center;
    justify-content: center;
    color: #636363;
	font-size: 30px;
    border-top: 3px solid #b31beb;
    padding-top: 25px;
}

.text > img {
    margin-right: 30px;
}

/* ======== Футер ==========*/

#footer {
	background-color: #222222;
	display: flex;
	justify-content: center;
	color: #dadfdb;
	font-size: 14px;
	padding-top: 30px;
}

footer {
	width: 100%;
	height: 190px;
	background-color: #222222;
	z-index: 99;
}

#address {
	border-bottom: 3px solid #53e700;
	max-width: 90%;
}

#contact {
	border-bottom: 3px solid #b31beb;
	max-width: 83%;
}

.contact {
	margin-left: 200px;
	margin-right: 200px;
}

.created {
	color: #636363;
	text-align: center;
    font-size: 10px;
}